div(class="hero__img" style=".hero__img{ background: url('https://i.imgur.com/M6G4XyQ.jpg');@media (min-width: 640px){ .hero__img{background: url('https://i.imgur.com/DC1U5Uu.jpg');}}@media (min-width: 1024px){ .hero__img{background: url('https://i.imgur.com/0yXTUw9.jpg');}}}")
div.hero__container
    h1.hero__header #{header}
    p.hero__description #{description}
    button.hero__cta #{cta.label}
