div.decorative-hero__img(style=`background-image: url(${images.small.url});`)
div.decorative-hero__container
    h1.decorative-hero__header #{header}
    p.decorative-hero__description #{description}
    button.decorative-hero__cta #{cta.label}
